.img-wrap:hover {
  transform:scale(1.06);
  transition: 0.3s;
}
.img-wrap {
  display:flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  position: relative;
}

.img-wrap img {
  min-width:100%;
  min-height: 100%;
  top:0;
  left: 0;
  border: 1px solid black;
}

